{% extends 'paginas/modelo.html'%}

{% block titulo %}
<title>Cadastro de contrato</title>

{% endblock%}

{% block conteudo %}
<style>
    p{
        margin-block: 20px;
    }
</style>
<div class="container">
    <div class="card shadown">

            <center>
                <h1>Contrato de Prestação de serviço</h1>
            </center>
            <p>
                <strong> CONTRATANTE: </strong> <strong>nome da empresa constratante</strong>, com sede e foro em <strong>cidade do contratante</strong>,
                Estado do <strong>estado localizado a cidade</strong>, na <strong>Endereço do contratante</strong>, 
                inscrita no CNPJ sob n° <strong>numero do cnpj da contratada</strong> e Inscrição Estadual n° <strong>inscrição estaduar da contratada </strong>,
                neste ato representado pelo Sócio/Proprietário infra-assinado Sr. <strong>nome do proprietário</strong>, casado,
                portador do CPF n° <strong>cpf do proprietário</strong> e RG n° <strong>RG do proprietario</strong>.
            </p>
        
            <p>
                <strong>CONTRATADA:</strong> <strong>nome da empresa contratada</strong>, sociedade brasileira
                por quotas de responsabilidade limitada ao capital, com sede no Município de <strong>cidade da contratada</strong>,
                Estado do <strong>estado localizado a cidade</strong>, a <strong>Endereço do contratante</strong>,
                inscrita no CNPJ/MF sob o n° <strong>numero do cnpj da contratante</strong>, representada por seu sócio proprietário,
                infra-assinado, têm entre si certa e ajustada à contratação de serviços de consultoria e assessoria
                que se regerá pelas seguintes cláusulas:
            </p>
        
            <p>
                Cláusula 1ª - Pelo presente contrato de prestação de serviço, a CONTRATADA,
                obriga-se a prestar para as seguintes empresas <strong>nome da epresa contratante</strong> com CNPJ n° <strong>numero do cnpj do contratante</strong>
                localizada em <strong>cidade contratada</strong>, os seguintes serviços.:
            </p>
        
            <p>
                <ul>
                    <li>serviço 1</li>
                    <li>serviço 2</li>
                </ul>
            </p>
        
            <p>
                Parágrafo único – havendo necessidade, a CONTRATADA, através de profissional habilitado,
                representará a CONTRATANTE, junto aos órgãos oficiais na esfera federal, estadual e municipal.
        
            </p>
        
            <p>
                Cláusula 2ª - A CONTRATANTE pagará à CONTRATADA, mediante apresentação de recibo de
                prestação de serviços de Consultoria Ambiental e Consultoria em Segurança no Trabalho,
                o valor de <strong>Valor dos serviços prestados</strong> (valor por extenso ), por mês.
        
            </p>
        
            <p>
                Parágrafo Único – A fatura/recibo terá como data de vencimento todo dia 05 (cinco) de cada mês.
        
            </p>
        
        
            <p>
                Cláusula 3ª - Todo o material usado pela CONTRATADA para prestação dos serviços,
                que sejam correlatos às tarefas ora contratadas; inclusive taxas, projetos civis e topográficos,
                análises laboratoriais, produtos para tratamento de efluentes e outros,
                serão de responsabilidade da CONTRATANTE.
            </p>
        
            <p>
                Cláusula 4ª - Será de total responsabilidade da CONTRATADA os tributos federais,
                encargos sociais, e demais impostos decorrentes e necessários à prestação dos serviços ora contratados,
                ficando desta forma a CONTRATANTE livre de quaisquer responsabilidades.
            </p>
        
            <p>
                Clausula 5 ª- AS RESPONSABILIDADES de ambas as partes são:
        
            </p>
        
            <p>
                <strong>
                    <h2>nome da contratada:</h2>
                </strong>
                <ul>
                    <li>Atender a todos os requisitos solicitados pela legislação relacionados com o serviço a ser executado;</li>
                    <li>Se responsabilizar por emitir a ART pelos serviços realizados.</li>
                </ul>
            </p>
        
            <p>
                <strong>
                    <h2>nome da empresa contratante:</h2>
                </strong>
                <ul>
                    <li>Fornecer acesso a todas as áreas da empresa;</li>
                    <li>Fornecer planta baixa da empresa e geral da área (em arquivo DWG ou CDR);</li>
                    <li>Fornecer listagem com total de funcionários;</li>
                    <li>Fornecer listagem dos setores e número de funcionários existentes em cada setor.</li>
                </ul>
            </p>
        
            <p>
                Parágrafo único: A proponente e os profissionais da equipe da <strong>nome da contratada </strong> se comprometem
                a manter como confidenciais todas as informações colocadas pela empresa <strong>nome do contratante</strong>,
                não divulgando tais informações a terceiros sob nenhuma forma e utilizando-as somente para
                os fins deste contrato.
        
            </p>
        
            <p>
                Cláusula 6ª - O presente contrato de prestação de serviço, uma vez assinado,
                vigorará pelo prazo de um ano, iniciando-se em <strong>data de inicio de contratato</strong> e terminando em 01 de março de 2013,
                e findo o prazo contratual, ficará renovado automaticamente por igual período, no caso de não haver
                denúncia por escrito de 30 (trinta) dias antes do término deste, por parte do CONTRATANTE.
                O presente contrato poderá ser rescindido por qualquer das partes mediante aviso prévio, por escrito,
                com 60 (sessenta) dias de antecedência.
        
            </p>
        
            <p>
                Cláusula 7ª - A CONTRATADA é vedada à cessão/transferência no todo ou parte,
                dos serviços objetos deste contrato, salvo com autorização por escrito da CONTRATANTE.
            </p>
        
            <p>
                Cláusula 8ª - O descumprimento das cláusulas e condições do presente contrato ensejará a
                sua rescisão de pleno direito, mediante notificação prévia por escrito à outra parte, e facultando-se à
                parte prejudicada a cobrança de multa equivalente ao valor pago no último mês em que tiverem sido prestados
                os serviços.
            </p>
        
            <p>
                Cláusula 9ª - A CONTRATADA quando contratar funcionários ou estagiários sob sua
                responsabilidade obriga-se remeter a CONTRATANTE à relação dos seus representantes para
                aprovação das tarefas a serem desenvolvidas dentro da empresa, bem como qualquer
                outro documento que venha a ser necessário.
            </p>
        
            <p>
                Cláusula 10ª - As partes obrigam-se pelo presente a bem e fielmente cumprir o que foi
                entre elas ajustado, que não poderá ser modificado por ato ou medida governamental que,
                por alguma forma, limite ou restrinja os direitos e obrigações ora pactuados, e elegem o
                foro da Cidade de Nova Londrina, Estado do Paraná, para dirimir qualquer questão
                concernente ao presente contrato.
            </p>
        
            <p>
                As partes elegem a foro da Cidade de <strong>cidade do contratada</strong>, <strong>cidade da contratada</strong>,
                para dirimir qualquer questão concernente ao presente contrato.
            </p>
        
            <p>
                E, estando assim certos e ajustados, assinam o presente instrumento em duas vias de igual teor,
                que vai também assinado pelas testemunhas abaixo indicadas:
        
            </p>
        
            <p>
                Nova Londrina /PR, 01 de Março de 2012.
        
            </p>
            
            

            <div>
                <center>
                    <p>
                        <h4>Assinaturas</h4> <br>
                        ________________________________________ <br>
                        <strong>nome da contratante</strong> <br>
                        <strong>Contratante</strong> <br>
                        <br>
                        <br>
                        <br>
                        ________________________________________ <br>
                        <strong>nome da contratada</strong> <br>
                        <strong>Contratada</strong> <br>
                        <br>
                        <br>
                        <br>
                    </p>
                        <p>
                            <h5>testemunhas:</h5> <br>
                            
                            ________________________________________ <br>
                            <br>
                            <br>
                            <br>
                            ________________________________________ <br>
                            
                        </p>
                </center> 
            </div>
    </div>


</div>

{% endblock%}

{% block rodape %}

{% endblock %}