{% extends 'paginas/modelo.html'%}

{% load static %}

{% load crispy_forms_tags %}

{% block titulo %}
<title>Cadastro de contrato</title>

{% endblock%}

{% block conteudo %}

        <div class="col">
            <div class="card format container-fluid shadow p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <h1>Contratos </h1>
                    <p class="lead">
                        preencha todos os campos dos contratos
                    </p>
                    <hr>
                    <form action="" method="POST">
                        <div class="row">
                            <div class="col">
                                {% csrf_token %}
                            </div>
                        </div>

                        {{form|crispy}}

                        <button type="submit" class="btn btn-primary"> Cadastrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>



</div>

{% endblock %}

{% block rodape %}

{% endblock %}