{% extends 'paginas/modelo.html'%}

{% block titulo %}
<title>Cadastro</title>
{% endblock%}

{% block conteudo %}
{% if request.user.is_authenticated %}
<div class="content-wrapper">

    <div class="container py-5">

        <div class="row mt-5">
            <div class="col-lg">

                <h3 class="border-bottom">
                    Lista de empresas cadastrados
                    <a href="{% url 'cadastro-empresa' %}" class="float-right btn btn-primary btn-sm">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        Novo empresa
                    </a>
                </h3>

            </div>
        </div>

        <div class="row">
            <div class="col-lg mt-4">

                <table class="table table-striped">

                    <thead>
                        <tr>
                            <th>Razao Social</th>
                            <th>CNPJ</th>
                        </tr>
                    </thead>

                    <tbody>

                        {% for obj in object_list %}
                        <tr>
                            <td>{{ obj.razao_social }}</td>
                            <td>{{ obj.cnpj }}</td>

                            <td>
                                <a href="{% url 'editar-empresa' obj.pk %}" class="btn btn-outline-warning btn-sm">
                                    <i class="fa fa-pen" aria-hidden="true"></i>
                                </a>

                                <a href="{% url 'excluir-empresa' obj.pk %}" class="btn btn-outline-danger btn-sm">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="100%">Nenhum empresa cadastrado</td>
                        </tr>
                        {% endfor %}


                    </tbody>

                </table>

            </div>
        </div>

    </div>
</div>
{% endif %}

{% endblock %}