{% extends 'paginas/login.html'%}

{% load static %}

{% load crispy_forms_tags %}

{% block form %}
   
                        <form action="" method="POST">
                            <div class="row">
                                <div class="col">
                                {% csrf_token %}
                                </div>
                            </div>
                            
                            {{form|crispy}}
                                
                                <button type="submit" class="btn btn-primary"> Entrar</button>
                        </form>
          
{% endblock %}